<ion-header>
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button color="light" text="" mode="md"></ion-back-button>
		</ion-buttons>
		<ion-title>{{contactData.first_name}} {{contactData.last_name}}</ion-title>
		<ion-buttons slot="end">
			<ion-menu-button color="light" text="">
				<img src="./../../assets/icon/menu-icon.png" alt="">
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div *ngFor="let msg of msgsList">
		<div class="message {{msg.type == 'send'? 'right': 'left'}}">
			<ion-avatar slot="start">
				<img src="assets/img/upload-img.png">
			</ion-avatar>
			<div class="msg-detail">
				<div class="mesg-time">
					<p>{{msg.time | date:'h:mm a'}}</p>
				</div>
				<div class="msg-info">
					<p>{{msg.text}}</p>
					<span *ngIf="msg.type == 'send'">
						<span *ngIf="msg.status =='pending'">
							<ion-spinner class="spinner"></ion-spinner>
						</span>
						<span *ngIf="msg.status =='success'">
							<ion-icon class="checkmark" name="checkmark-done"></ion-icon>
						</span>
						<span *ngIf="msg.status =='failed'">
							<ion-icon class="alert" name="alert-circle-outline" (click)="resendMsg(msg.id)"></ion-icon>
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<ion-footer class="ion-no-lines">
	<ion-toolbar>
		<div class="input-wrap">
			<ion-button class="template_btn" (click)="openTemplates($event)">
				<ion-icon name="list-outline"></ion-icon>
			</ion-button>
			<ion-textarea auto-grow placeholder="Enter message" [(ngModel)]="textMsg" (keyup.enter)="sendMsg()">
			</ion-textarea>
			<ion-button (click)="sendMsg()">
				<ion-icon name="send"></ion-icon>
			</ion-button>
		</div>
	</ion-toolbar>
</ion-footer>