ion-content {
    --background: #eff6fe;

    .inline-filters {
        display: flex;
        align-items: center;

        // margin-bottom: 24px;
        ion-button {
            --border-radius: 50px;
            box-shadow: none;
            height: 44px;
            --box-shadow: none;
            --ion-color-primary: #1c0d2e;
            font-weight: 300;
            font-size: 14px;

            &:first-child {
                flex: auto;
            }

            &:last-child {
                width: 44px;
                height: 44px;
                --padding-top: 0;
                --padding-bottom: 0;
                --padding-start: 0;
                --padding-end: 0;
                margin-left: 12px;
                --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                --ion-color-light-contrast: var(--ion-color-danger);
            }
        }
    }

    ion-card {
        border-radius: 0 6px 6px 0px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-left: 3px solid #aacaf3;
        margin-bottom: 24px;
        margin-left: 0;
        margin-right: 0;

        ion-card-content {
            .detail-wrap {
                position: relative;

                .top-right-btn {
                    position: absolute;
                    right: 0;
                    top: 0;

                    ion-button {
                        margin: 0 3px;
                        --padding-top: 0;
                        --padding-bottom: 0;
                        --padding-start: 0;
                        --padding-end: 0;
                        width: 30px;
                        height: 30px;
                        font-size: 12px;
                        --box-shadow: none;
                    }
                }

                .left-detail {
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        li {
                            display: flex;
                            margin-bottom: 8px;
                            align-items: center;

                            span {
                                color: #4f4f4f;
                            }

                            ion-icon {
                                color: #2471d3;
                                font-size: 16px;
                                margin-right: 7px;
                                flex: 0 0 20px;
                            }

                            &:first-child {
                                max-width: 212px;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .action-group {
                display: flex;
                align-items: center;
                margin-top: 16px;

                ion-select {
                    border: 1px solid #c8c8c8;
                    border-radius: 50px;
                    flex: auto;
                    padding-right: 6px;
                    height: 40px;
                }

                ion-button {
                    --box-shadow: none;
                    height: 40px;
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}