<ion-header>
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button color="light" text="" mode="md"></ion-back-button>
		</ion-buttons>
		<ion-title>Company Details</ion-title>
		<ion-buttons slot="end">
			<ion-menu-button color="light" text="">
				<img src="./../../assets/icon/menu-icon.png" alt="" />
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngIf="(contactData | keyvalue)?.length">
	<ion-card mode="md">
		<ion-card-content>
			<div class="profile-info">
				<div class="image-hol">
					<img src="assets/img/upload-img.png" alt="" />
				</div>
				<div class="detail-hol">
					<h2>{{contactData.company}} {{contactData.last_name}}</h2>
					<span>
						<ion-icon name="mail-outline"></ion-icon><a
							href="milto:{{contactData.email}}">{{contactData.email}}</a>
					</span>
				</div>
			</div>
		</ion-card-content>
	</ion-card>
	<ion-card mode="md">
		<ion-card-content>
			<div class="basic-info">
				<div class="info">
					<label for="#">
						<ion-icon name="person-circle-sharp"></ion-icon>Name
					</label>
					<span>: &nbsp;&nbsp; {{contactData.company}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="person-circle-sharp"></ion-icon>Date of Birth
					</label>
					<span>: &nbsp;&nbsp; {{contactData.date_of_birth}}</span>
				</div>

				<div class="info">
					<label for="#">
						<ion-icon name="person-circle-sharp"></ion-icon>Age
					</label>
					<span>: &nbsp;&nbsp; {{contactData.contact_age}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="call-sharp"></ion-icon>Phone
					</label>
					<span>: &nbsp;&nbsp;
						<a href="tel:{{contactData.phone}}">{{contactData.phone}}</a></span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="call-sharp"></ion-icon>Fax
					</label>
					<span>: &nbsp;&nbsp; {{contactData.fax}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="globe-outline"></ion-icon>Website
					</label>
					<span>: &nbsp;&nbsp; {{contactData.website}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="location-outline"></ion-icon>Street 1
					</label>
					<span>: &nbsp;&nbsp; {{contactData.street_1}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="location-outline"></ion-icon>Street 2
					</label>
					<span>: &nbsp;&nbsp; {{contactData.street_2}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="location-outline"></ion-icon>CIty
					</label>
					<span>: &nbsp;&nbsp; {{contactData.city}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="business-outline"></ion-icon>State
					</label>
					<span>: &nbsp;&nbsp; {{getState()}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="navigate-circle-outline"></ion-icon>Country
					</label>
					<span>: &nbsp;&nbsp; {{getCountry()}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="mail-outline"></ion-icon>Postal Code
					</label>
					<span>: &nbsp;&nbsp; {{contactData.postal_code}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="mail-outline"></ion-icon>Source
					</label>
					<span>: &nbsp;&nbsp; {{getSource()}}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="person-outline"></ion-icon>Life Stage
					</label>
					<span>: &nbsp;&nbsp; {{contactData.life_stage | titlecase }}</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="logo-facebook"></ion-icon>
					</label>
					<span *ngIf="contactData.facebook">
						<a (click)="openLink(contactData.facebook)">Facebbok</a>
					</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="logo-twitter"></ion-icon>
					</label>
					<span *ngIf="contactData.twitter">
						<a (click)="openLink(contactData.twitter)">Twitter</a>
					</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="logo-google"></ion-icon>
					</label>
					<span *ngIf="contactData.googleplus">
						<a (click)="openLink(contactData.googleplus)">Google+</a>
					</span>
				</div>
				<div class="info">
					<label for="#">
						<ion-icon name="logo-linkedin"></ion-icon>
					</label>
					<span *ngIf="contactData.linkedin">
						<a (click)="openLink(contactData.linkedin)">LinkedIn</a></span>
				</div>
			</div>
			<div class="basic-info">
				<div class="owner-info">
					<label for="#">
						<ion-icon name="call-sharp"></ion-icon>Contact Owner
					</label>
				</div>
				<div class="profile-info">
					<div class="image-hol">
						<img src="{{contactData.owner.avatar}}" alt="" />
					</div>
					<div class="detail-hol">
						<p>{{contactData.owner.display_name}}</p>
						<span>
							<a href="milto:{{contactData.owner.user_email}}">{{contactData.owner.user_email}}</a>
						</span>
					</div>
				</div>
			</div>
		</ion-card-content>
	</ion-card>

	<div class="ion-flex inline-filters">
		<ion-button fill="solid" shape="round" color="danger" (click)="showActivity()">Show Activity</ion-button>
	</div>

</ion-content>