<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button color="light" text="" mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title>Activities</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button color="light" text="">
                <img src="./../../assets/icon/menu-icon.png" alt="">
            </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div *ngIf="loadView">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <div *ngIf="activitiesData.length > 0; else no_result">
            <div class="ion-flex inline-filters app-form">
                <ion-item>
                    <ion-select [(ngModel)]="filterType" (ionChange)="filterItems($event)">
                        <ion-select-option value="">Select a type</ion-select-option>
                        <ion-select-option value="new_note">New Note</ion-select-option>
                        <ion-select-option value="email">Email</ion-select-option>
                        <ion-select-option value="log_activity">Log Activity</ion-select-option>
                        <ion-select-option value="schedule">Schedule</ion-select-option>
                        <ion-select-option value="tasks">Tasks</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="spinner-container" *ngIf="searching">
                    <ion-spinner></ion-spinner>
                </div>
            </div>
            <div class="activities-sec">
                <div class="activity-col" *ngFor="let data of activities | formatActivities: 'created_timeline_date'">
                    <div class="activity-date">
                        <p>{{data.month_year | date:'MMMM, y'}}</p>
                    </div>

                    <div class="activity-dis" *ngFor="let activity of data.list">
                        <div class="icon">
                            <ion-icon name="document-text-outline"></ion-icon>
                        </div>
                        <div class="discription">
                            <div class="heading">
                                <h3><strong>{{ activity.created_by.display_name }}</strong>{{activity.activity}}{{activity.start_date_on}}
                                    for <strong>{{activity.contact.first_name}}</strong></h3>
                            </div>
                            <div class="dis">
                                <p [innerHTML]="activity.message"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" *ngIf="hasMore; else no_more">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
            <ng-template #no_more>
                <ion-card mode="md">
                    <div class="no_more">
                        <ion-card-content>
                            <h3>No more data</h3>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ng-template>
        </div>
        <ng-template #no_result>
            <ion-card mode="md">
                <ion-card-content>
                    <h2>No result found</h2>
                </ion-card-content>
            </ion-card>
        </ng-template>
    </div>
</ion-content>