$textColor: #1c0d2e;
$colorgray: #e2e2e2;
ion-content {
	--background: #eff6fe;
	.inline-filters {
		display: flex;
		align-items: center;
		// margin-bottom: 24px;
		ion-button {
			--border-radius: 50px;
			box-shadow: none;
			height: 44px;
			--box-shadow: none;
			--ion-color-primary: #1c0d2e;
			font-weight: 300;
			font-size: 14px;
			&:first-child {
				flex: auto;
			}
			&:last-child {
				width: 44px;
				height: 44px;
				--padding-top: 0;
				--padding-bottom: 0;
				--padding-start: 0;
				--padding-end: 0;
				margin-left: 12px;
				--box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				--ion-color-light-contrast: var(--ion-color-danger);
			}
		}
	}
	// ion-card {
	//     background: transparent;
	//     box-shadow: none;
	//     height: 100%;
	.activities-sec {
		padding-top: 10px;
		position: relative;
		&:before {
			position: absolute;
			content: "";
			left: 15px;
			width: 2px;
			height: 100%;
			background: #d7e1ee;
			z-index: 1;
		}
		.activity-col {
			margin-bottom: 20px;
			.activity-date {
				background: #fe3e4d;
				display: inline-block;
				padding: 5px 15px;
				border-radius: 100px;
				z-index: 999;
				position: relative;
				p {
					margin: 0;
					color: #fff;
				}
			}
			.activity-dis {
				display: flex;
				align-items: flex-start;
				padding-top: 20px;
				justify-content: space-between;
				.icon {
					width: 100%;
					background: #1e6acc;
					color: #fff;
					display: flex;
					max-width: 32px;
					height: 32px;
					border-radius: 100px;
					justify-content: center;
					align-items: center;
					font-size: 18px;
					z-index: 999;
					position: relative;
				}
				.discription {
					background: #fff;
					border-radius: 10px;
					width: 88%;
					@media (max-width: 370px) {
						width: 85%;
					}
					.heading {
						border-bottom: 1px solid #e2e2e2;
						padding: 10px 15px;
						h3 {
							margin: 0;
							font-size: 13px;
							font-weight: 500;
							color: #000;
							line-height: 20px;
						}
					}
					.dis {
						padding: 10px 15px;
						p {
							margin: 0;
							font-size: 13px;
							color: #000;
						}
						ion-button {
							padding: 7px;
							margin: -10px -6px;
							font-size: 11px;
						}
					}
				}
			}
		}
	}

	.app-form {
		ion-item {
			--background: #fff;
			border: 1px solid $colorgray;
			color: $textColor;
			border-radius: 50px;
			height: 37px;
			ion-input {
				--placeholder-opacity: 0.4;
			}
			ion-select {
				max-width: 100%;
				flex: 100%;
				--padding-start: 0;
				margin-top: -15px;
			}
			ion-button {
				--box-shadow: none;
				--border-radius: 50px;
				height: 48px;
			}
		}
	}
}
