<ion-header>
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button color="light" text="" mode="md"></ion-back-button>
		</ion-buttons>
		<ion-title>Edit Activity</ion-title>
		<ion-buttons slot="end">
			<ion-menu-button color="light" text="">
				<img src="./../../assets/icon/menu-icon.png" alt="" />
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<div [ngSwitch]="type">
		<div *ngSwitchCase="'note'">
			<form [formGroup]="add_note_form" (ngSubmit)="updateActivity('note')">
				<div class="ion-no-padding app-form">
					<ion-item lines="none">
						<ion-textarea placeholder="Type your note..." formControlName="content" name="content">
						</ion-textarea>
					</ion-item>
					<ion-button type="submit" size="large" shape="round" expand="block" color="danger"
						[disabled]="!add_note_form.valid">Update
					</ion-button>
				</div>
			</form>
		</div>

		<div *ngSwitchCase="'email'">
			<form [formGroup]="add_email_form" (ngSubmit)="updateActivity('email')">
				<div class="ion-no-padding app-form">
					<ion-item lines="none">
						<ion-input type="text" placeholder="Subject" formControlName="subject" name="subject">
						</ion-input>
					</ion-item>

					<ion-item lines="none">
						<ion-textarea placeholder="Type your email body..." formControlName="body" name="body">
						</ion-textarea>
					</ion-item>

					<ion-button type="submit" size="large" shape="round" expand="block" color="danger"
						[disabled]="!add_email_form.valid">Update
					</ion-button>
				</div>
			</form>
		</div>

		<div *ngSwitchCase="'log'">
			<form [formGroup]="add_log_form" (ngSubmit)="updateActivity('log')">
				<div class="ion-no-padding app-form">
					<ion-item lines="none">
						<ion-select placeholder="Select Type" formControlName="log_type" name="log_type">
							<ion-select-option value="call">Log a Call</ion-select-option>
							<ion-select-option value="meeting">Log a Meeting</ion-select-option>
							<ion-select-option value="email">Log an Email</ion-select-option>
							<ion-select-option value="sms">Log an SMS</ion-select-option>
						</ion-select>
					</ion-item>
					<ion-item lines="none" class="time-input">
						<!-- <ion-input type="date" formControlName="date_time" name="date_time"></ion-input> -->
						<ion-datetime placeholder="Date and Time" display-timezone="utc"
							displayFormat="YYYY-MM-DD HH:mm:ss" formControlName="date_time" name="date_time">
						</ion-datetime>
					</ion-item>
					<ion-item lines="none">
						<ion-textarea placeholder="Type your description..." formControlName="content" name="content">
						</ion-textarea>
					</ion-item>
					<ion-button type="submit" size="large" shape="round" expand="block" color="danger"
						[disabled]="!add_log_form.valid">Update
					</ion-button>
				</div>
			</form>
		</div>

		<div *ngSwitchCase="'schedule'">
			<form [formGroup]="add_schedule_form" (ngSubmit)="updateActivity('schedule')">
				<div class="ion-no-padding app-form">

					<ion-item lines="none">
						<ion-input type="text" placeholder="Schedule Title" formControlName="title" name="title">
						</ion-input>
					</ion-item>
					<ion-item lines="none" class="time-input">
						<ion-datetime placeholder="Start" display-timezone="utc" displayFormat="YYYY-MM-DD HH:mm:ss"
							formControlName="start_date_time" name="start_date_time">
						</ion-datetime>
					</ion-item>
					<ion-item lines="none" class="time-input">
						<ion-datetime placeholder="End" display-timezone="utc" displayFormat="YYYY-MM-DD HH:mm:ss"
							formControlName="end_date_time" name="end_date_time">
						</ion-datetime>
					</ion-item>

					<ion-item lines="none" class="cus-checkbox">
						<ion-checkbox formControlName="all_day" name="all_day"></ion-checkbox>
						<ion-label>All Day</ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-textarea placeholder="Type your description..." formControlName="content" name="content">
						</ion-textarea>
					</ion-item>

					<ion-item lines="none">
						<ion-select placeholder="Agents or Managers" formControlName="employee_ids"
							name="employee_ids[]" multiple="true">
							<ion-select-option *ngFor="let user of allUsers; index as i" value="{{user.id}}">
								{{user.name}}
							</ion-select-option>
						</ion-select>
					</ion-item>

					<ion-item lines="none">
						<ion-select placeholder="Schedule Type" formControlName="schedule_type" name="schedule_type">
							<ion-select-option value="meeting">Meeting</ion-select-option>
							<ion-select-option value="call">Call</ion-select-option>
						</ion-select>
					</ion-item>

					<ion-item lines="none" class="cus-checkbox">
						<ion-checkbox formControlName="allow_notification" name="allow_notification"
							(ngModelChange)="scheduleAllowNotification($event)"></ion-checkbox>
						<ion-label>Show Advanced Fields</ion-label>
					</ion-item>
					<div class="other-info" *ngIf="scheduleExpandNotify">

						<ion-item lines="none">
							<ion-select placeholder="Notify Via" formControlName="notification_via"
								name="notification_via">
								<ion-select-option value="email">Email</ion-select-option>
							</ion-select>
						</ion-item>

						<ion-item lines="none">
							<ion-input type="number" placeholder="Notify before"
								formControlName="notification_time_interval" name="notification_time_interval">
							</ion-input>
						</ion-item>
						<ion-item lines="none">
							<ion-select placeholder="Notify Time" formControlName="notification_time"
								name="notification_time">
								<ion-select-option value="minute">Minute</ion-select-option>
								<ion-select-option value="hour">Hour</ion-select-option>
								<ion-select-option value="day">Day</ion-select-option>
							</ion-select>
						</ion-item>
					</div>
					<ion-button type="submit" size="large" shape="round" expand="block" color="danger"
						[disabled]="!add_schedule_form.valid">Update
					</ion-button>
				</div>
			</form>
		</div>

		<div *ngSwitchCase="'task'">
			<form [formGroup]="add_task_form" (ngSubmit)="updateActivity('tasks')">
				<div class="ion-no-padding app-form">

					<ion-item lines="none">
						<ion-input type="text" placeholder="Task Title" formControlName="title" name="title">
						</ion-input>
					</ion-item>

					<ion-item lines="none">
						<ion-select placeholder="Agents or Managers" formControlName="employee_ids"
							name="employee_ids[]" multiple="true">
							<ion-select-option *ngFor="let user of allUsers; index as i" value="{{user.id}}">
								{{user.name}}
							</ion-select-option>
						</ion-select>
					</ion-item>

					<ion-item lines="none" class="time-input">
						<ion-datetime placeholder="Date and Time" display-timezone="utc"
							displayFormat="YYYY-MM-DD HH:mm:ss" formControlName="date_time" name="date_time">
						</ion-datetime>
					</ion-item>
					<ion-item lines="none">
						<ion-textarea placeholder="Type your description..." formControlName="content" name="content">
						</ion-textarea>
					</ion-item>

					<ion-button type="submit" size="large" shape="round" expand="block" color="danger"
						[disabled]="!add_task_form.valid">Update
					</ion-button>
				</div>
			</form>
		</div>

		<div *ngSwitchCase="''">
		</div>
	</div>
</ion-content>