<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button color="light" text="" mode="md" defaultHref="exercise"></ion-back-button>
    </ion-buttons>
    <ion-title>Hancock</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light" text="">
        <img src="./../../assets/icon/menu-icon.png" alt="">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="message right">
    <ion-avatar slot="start">
      <img src="assets/img/user-comment-img-01.png">
    </ion-avatar>
    <div class="msg-detail">
      <div class="mesg-time">
        <p>Luff over 3 years ago</p>
      </div>
      <div class="msg-info">
        <p>A good programmer is someone who always looks both ways before crossing a one-way street</p>
      </div>
    </div>
  </div>
  <div class="message left">
    <ion-avatar slot="start">
      <img src="assets/img/user-comment-img-01.png">
    </ion-avatar>
    <div class="msg-detail">
      <div class="mesg-time">
        <p>Luff over 3 years ago</p>
      </div>
      <div class="msg-info">
        <p>A good programmer is someone who always looks both ways before crossing a one-way street</p>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-lines">
  <ion-toolbar>
    <div class="input-wrap">
      <ion-textarea auto-grow placeholder="Enter your message!"></ion-textarea>
      <ion-button><ion-icon name="send"></ion-icon></ion-button>
    </div>
  </ion-toolbar>
</ion-footer>