<ion-header>
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button color="light" text="" mode="md"></ion-back-button>
		</ion-buttons>
		<ion-title>Edit Contact</ion-title>
		<ion-buttons slot="end">
			<ion-menu-button color="light" text="">
				<img src="./../../assets/icon/menu-icon.png" alt="" />
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form [formGroup]="editCompanyForm" (ngSubmit)="updateCompany()">
		<div class="upload-image">
			<div class="uploaded-img">
				<img src="./../../assets/img/upload-img.png" alt="" />
			</div>
			<ion-button shape="round" color="danger">
				<ion-icon name="cloud-upload-sharp"></ion-icon>
			</ion-button>
		</div>
		<div class="ion-no-padding app-form">
			<ion-item lines="none">
				<ion-input type="text" placeholder="Company Name" formControlName="company" name="company"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-input type="email" placeholder="Email" formControlName="email" name="email"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-input type="tel" placeholder="Phone Number" formControlName="phone" name="phone"></ion-input>
			</ion-item>
			<ion-item lines="none">
				<ion-select placeholder="Life Stage *" formControlName="life_stage" name="life_stage">
					<ion-select-option value="customer">Customer</ion-select-option>
					<ion-select-option value="lead">Lead</ion-select-option>
					<ion-select-option value="opportunity">Opportunity</ion-select-option>
					<ion-select-option value="subscriber">Subscriber</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item lines="none">
				<ion-select placeholder="Contact Owner *" formControlName="user_id" name="user_id">
					<ion-select-option *ngFor="let user of allUsers; index as i" value="{{user.id}}">{{user.name}}
					</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-button type="submit" size="large" shape="round" expand="block" color="danger">Update</ion-button>
		</div>
	</form>
</ion-content>