<ion-content class="ion-padding">
    <form action="" (ngSubmit)="logForm()">
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding ion-justify-content-center">
                <ion-col size-md="6" size-lg="5" size-xs="12" class="ion-align-self-center">
                    <div class="app-wrap">
                        <div class="ion-text-center app-logo">
                            <!-- <h1>Login</h1> -->
                            <img src="/assets/img/logo.png" alt="">
                        </div>
                        <div class="ion-padding app-form">
                            <ion-item lines="none">
                                <!-- <ion-label position="floating">Email</ion-label> -->
                                <ion-input type="email" placeholder="Email" [(ngModel)]="loginObj.email" name="email"></ion-input>
                            </ion-item>
                            <ion-item lines="none">
                                <!-- <ion-label position="floating">Password</ion-label> -->
                                <ion-input type="password" placeholder="Password" [(ngModel)]="loginObj.pass" name="pass"></ion-input>
                            </ion-item>
                            <ion-button type="submit" size="large" expand="block" color="light">Login</ion-button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>