$height100: 100%;
ion-grid {
    width: 100%;
    height: $height100;
}

ion-row {
    height: $height100;
}

ion-button {
    font-weight: 300;
}

ion-content {
    // --background: #45aaf2;
    --background: radial-gradient( circle 465px at -15.1% -25%, rgba(17, 130, 193, 1) 0%, rgba(67, 166, 238, 1) 49%, rgba(126, 203, 244, 1) 90.2%);
    h1 {
        color: var(--ion-color-light);
    }
    ion-item {
        margin-bottom: 24px;
        --background: transparent;
        border: 1px solid var(--ion-color-light);
        color: var(--ion-color-light);
        ion-input {
            --placeholder-opacity: 1;
        }
    }
    ion-button {
        --box-shadow: none;
        --border-radius: 0;
        height: 48px;
    }
    .app-wrap {
        .app-logo {
            margin-bottom: 26px;
            background-color: #fff;
            border-radius: 50%;
            width: 180px;
            height: 180px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            img {
                max-width: 80%;
            }
        }
    }
}