<ion-content class="ion-padding">
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding ion-justify-content-center">
            <ion-col size-md="6" size-lg="5" size-xs="12" class="ion-align-self-center">
                <div class="app-wrap">
                    <div class="ion-text-center app-logo">
                        <img src="/assets/img/Pilot-Boom.png" alt="">
                    </div>
                    <div class="ion-no-padding app-form">
                        <ion-item lines="none">
                            <ion-input type="email" placeholder="Username/Email"></ion-input>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-input type="password" placeholder="Password"></ion-input>
                        </ion-item>
                        <ion-button size="large" shape="round" expand="block" color="danger" routerLink="/activities">Login</ion-button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>