<ion-header>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
          <ion-back-button color="light" text="" mode="md"></ion-back-button>
      </ion-buttons>
      <ion-title>Contact #10</ion-title>
      <ion-buttons slot="end">
          <ion-menu-button color="light" text="">
              <img src="./../../assets/icon/menu-icon.png" alt="">
          </ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card mode="md">
    <ion-card-content>
      <div class="profile-info">
        <div class="image-hol">
          <img src="assets/img/upload-img.png" alt="">
        </div>
        <div class="detail-hol">
          <h2>Shawn Miller</h2>
          <span><ion-icon name="mail-outline"></ion-icon><a href="milto:steveprolimit@gmail.com">steveprolimit@gmail.com</a></span>
        </div>
      </div>
    </ion-card-content>
</ion-card>
  <ion-card mode="md">
    <ion-card-content>
       <div class="basic-info">
          <div class="info">
            <label for="#"><ion-icon name="person-circle-sharp"></ion-icon>First Neme</label>
            <span>: &nbsp;&nbsp; Shawn</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="person-circle-sharp"></ion-icon>Last Neme</label>
            <span>: &nbsp;&nbsp; Miller</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="calendar-outline"></ion-icon>Date of Birth</label>
            <span>: &nbsp;&nbsp; ___</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="man-outline"></ion-icon>Age</label>
            <span>: &nbsp;&nbsp; ___</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="call-sharp"></ion-icon>Phone</label>
            <span>: &nbsp;&nbsp; <a href="tel:+13616526600">+13616526600</a></span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="call-sharp"></ion-icon>Fax</label>
            <span>: &nbsp;&nbsp; ___</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="globe-outline"></ion-icon>Website</label>
            <span>: &nbsp;&nbsp; ___</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="location-outline"></ion-icon>Street 1</label>
            <span>: &nbsp;&nbsp; ___</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="location-outline"></ion-icon>Street 2</label>
            <span>: &nbsp;&nbsp; ___</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="location-outline"></ion-icon>CIty</label>
            <span>: &nbsp;&nbsp; ___</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="business-outline"></ion-icon>State</label>
            <span>: &nbsp;&nbsp; ___</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="navigate-circle-outline"></ion-icon>Country</label>
            <span>: &nbsp;&nbsp; ___</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="mail-outline"></ion-icon>Postal Code</label>
            <span>: &nbsp;&nbsp; ___</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="browsers-outline"></ion-icon>Source</label>
            <span>: &nbsp;&nbsp; Advertisement</span>
          </div>
          <div class="info">
            <label for="#"><ion-icon name="person-outline"></ion-icon>Life Stage</label>
            <span>: &nbsp;&nbsp; Customer</span>
          </div>
          <div class="owner-info">
            <label for="#"><ion-icon name="call-sharp"></ion-icon>Contact Owner</label>
            <span> &nbsp;&nbsp;&nbsp; ___________</span>
          </div>
          <div class="profile-info">
            <div class="image-hol">
              <img src="assets/img/upload-img.png" alt="">
            </div>
            <div class="detail-hol">
              <p>Adams</p>
              <span><a href="milto:kentadamsk9@gmail.com">kentadamsk9@gmail.com</a></span>
            </div>
          </div>
       </div>
    </ion-card-content>
</ion-card>
</ion-content>
