<ion-content class="ion-padding">
    <div class="content">
    <form [formGroup]="userForm" (ngSubmit)="login()">
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding ion-justify-content-center">
                <ion-col size-md="6" size-lg="5" size-xs="12" class="ion-align-self-center">
                    <div class="app-wrap">
                        <div class="ion-text-center app-logo">
                            <img src="/assets/img/Pilot-Boom.png" alt="">
                        </div>
                        <div class="ion-no-padding app-form">
                            <div class="input_area">
                                <ion-item lines="none">
                                    <ion-label>
                                        <ion-icon slot="start" name="link"></ion-icon>
                                    </ion-label>
                                    <ion-input type="text" placeholder="Website (demo.pilotboom.com)" formControlName="website"
                                        name="website"></ion-input>
                                </ion-item>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.website">
                                        <div class="error-message"
                                            *ngIf="userForm.get('website').hasError(validation.type) && (userForm.get('website').dirty || userForm.get('website').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            {{ validation.message }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="input_area">
                                <ion-item lines="none">
                                    <ion-label>
                                        <ion-icon slot="start" name="person-outline"></ion-icon>
                                    </ion-label>
                                    <ion-input type="text" placeholder="Username/Email" formControlName="username"
                                        name="username"></ion-input>
                                </ion-item>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.username">
                                        <div class="error-message"
                                            *ngIf="userForm.get('username').hasError(validation.type) && (userForm.get('username').dirty || userForm.get('username').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            {{ validation.message }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="input_area">
                                <ion-item lines="none">
                                    <ion-label>
                                        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                                    </ion-label>
                                    <ion-input placeholder="Password" formControlName="password" [type]="passwordType"
                                        clearOnEdit="false" name="password"></ion-input>
                                    <ion-icon item-end [name]="passwordIcon" class="passwordIcon"
                                        (click)='hideShowPassword()'></ion-icon>
                                </ion-item>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.password">
                                        <div class="error-message"
                                            *ngIf="userForm.get('password').hasError(validation.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>
                                            {{ validation.message }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <ion-button type="submit" size="large" shape="round" expand="block" color="danger"
                                [disabled]="!userForm.valid">Login
                            </ion-button>
                            <input type="submit" class="submit-enter" [disabled]="!userForm.valid" />
                        </div>
                        <div class="forgot_password">
                            <a (click)="forgotPassword()">Forgot Password?</a>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</div>
</ion-content>