.version-number {
    right: 7px;
    position: fixed;
    bottom: 3px;
    color: #bbb5b5;
    font-size: 13px;
}

.avatar {
    margin: 7px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .avatar-img {
        img {
            width: 100%;
            height: auto;
            max-width: 100px;
            border-radius: 70%;
        }
    }
}

.display_name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

.nicename {
    font-size: 12px;
}

ion-content {
    ion-menu-toggle {
        ion-item {
            font-size: 14px;
            padding: 0;
        }
    }
}
