<ion-header>
	<ion-toolbar mode="ios">
		<ion-buttons slot="start">
			<ion-back-button color="light" text="" mode="md"></ion-back-button>
		</ion-buttons>
		<ion-title>Edit Contact Group</ion-title>
		<ion-buttons slot="end">
			<ion-menu-button color="light" text="">
				<img src="./../../assets/icon/menu-icon.png" alt="" />
			</ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<form [formGroup]="editContactGrpForm" (ngSubmit)="updateContactGrp()">
		<div class="upload-image">
			<div class="uploaded-img">
				<img src="./../../assets/img/upload-img.png" alt="" />
			</div>
			<!-- <ion-button shape="round" color="danger">
				<ion-icon name="cloud-upload-sharp"></ion-icon>
			</ion-button> -->
		</div>
		<div class="ion-no-padding app-form">
			<div class="input_area">
				<ion-item lines="none">
					<ion-input type="text" placeholder="Name *" formControlName="name" name="name"></ion-input>
				</ion-item>
				<div class="validation-errors">
					<ng-container *ngFor="let validation of validation_messages.name">
						<div class="error-message"
							*ngIf="editContactGrpForm.get('name').hasError(validation.type) && (editContactGrpForm.get('name').dirty || editContactGrpForm.get('name').touched)">
							<ion-icon name="information-circle-outline"></ion-icon>
							{{ validation.message }}
						</div>
					</ng-container>
				</div>
			</div>
			<div class="input_area">
				<ion-item lines="none">
					<ion-textarea placeholder="Description" formControlName="description" name="description">
					</ion-textarea>
				</ion-item>
			</div>

			<!-- <ion-list radio-group >
		<ion-item>
		  <ion-label>Yes</ion-label>
		  <ion-radio formControlName="group_private" name="group_private"></ion-radio>
		</ion-item>
		<ion-item>
		  <ion-label>No</ion-label>
		  <ion-radio formControlName="group_private" name="group_private"></ion-radio>
		</ion-item>
	  </ion-list> -->

			<ion-button type="submit" size="large" shape="round" expand="block" color="danger"
				[disabled]="!editContactGrpForm.valid">Update</ion-button>
		</div>
	</form>
</ion-content>