<ion-header>
	<ion-toolbar>
		<ion-title style="float: left">Posts</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="container">
		<div *ngFor="let post of posts; index as i">
			Post # {{i+1}}
			<div class="connect-box">
				<div class="connect-img-box hoverClass">
					<p class="white-bkg">{{post.title.rendered}}</p>
					<div class="white-bkg" [innerHTML]="post.content.rendered"></div>
					<p class="white-bkg">{{post.date}}</p>
				</div>
			</div>
			<br /><br />
		</div>
	</div>
</ion-content>