<ion-header>
    <ion-toolbar>
        <ion-title>CRM Dashboard</ion-title>
        <ion-buttons slot="end">
            <ion-button color="light">
                <ion-icon name="reload-sharp"></ion-icon>
            </ion-button>
            <ion-button color="light">Logout</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card mode="ios">
        <ion-card-content>
            <ion-row class="ion-align-items-center">
                <ion-col size="4" class="ion-text-center">
                    <div class="card-status">
                        <ion-card-title>4</ion-card-title>
                        <p>Contacts</p>
                    </div>
                </ion-col>
                <ion-col size="8" class="ion-padding-start">
                    <ul>
                        <li>
                            <ion-button color="primary" fill="clear">2 Customers</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear">1 Lead</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear">0 Opportunities</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear">1 Subscriber</ion-button>
                        </li>
                    </ul>
                </ion-col>
            </ion-row>
        </ion-card-content>
        <div class="card-footer">
            <ion-button color="light" fill="solid" expand="full" color="primary" class="ion-no-margin">View All Contacts</ion-button>
        </div>
    </ion-card>
    <ion-card mode="ios">
        <ion-card-content>
            <ion-row class="ion-align-items-center">
                <ion-col size="4" class="ion-text-center">
                    <div class="card-status">
                        <ion-card-title>4</ion-card-title>
                        <p>Contacts</p>
                    </div>
                </ion-col>
                <ion-col size="8" class="ion-padding-start">
                    <ul>
                        <li>
                            <ion-button color="primary" fill="clear">2 Customers</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear">1 Lead</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear">0 Opportunities</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear">1 Subscriber</ion-button>
                        </li>
                    </ul>
                </ion-col>
            </ion-row>
        </ion-card-content>
        <div class="card-footer">
            <ion-button color="light" fill="solid" expand="full" color="primary" class="ion-no-margin">View All Contacts</ion-button>
        </div>
    </ion-card>
</ion-content>