ion-header {
    ion-toolbar {
        --background: radial-gradient( circle 465px at -15.1% -25%, rgba(17, 130, 193, 1) 0%, rgba(67, 166, 238, 1) 49%, rgba(126, 203, 244, 1) 90.2%);
        ion-title {
            color: var(--ion-color-light);
        }
    }
}

ion-content {
    --background: #f7f7f7;
    ion-card {
        ion-card-content {
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    position: relative;
                    ion-button {
                        margin: 0;
                        --padding-top: 5px;
                        --padding-bottom: 5px;
                        height: auto;
                    }
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        background-color: var(--ion-color-primary);
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        --padding-start: 20px;
                    }
                }
            }
        }
        .card-status {
            background-color: #f7f7f7;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
        }
        .card-footer {
            ion-button {
                height: 36px;
            }
        }
    }
}