<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-button color="light" routerLink="/login">
                <ion-icon name="exit-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button color="light" text="">
                <img src="./../../assets/icon/menu-icon.png" alt="">
            </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card mode="md">
        <ion-card-content>
            <ion-row class="ion-align-items-center">
                <ion-col size="4" class="ion-text-center">
                    <div class="card-status">
                        <ion-card-title>4</ion-card-title>
                        <p>Contacts</p>
                    </div>
                </ion-col>
                <ion-col size="8" class="ion-padding-start">
                    <ul>
                        <li>
                            <ion-button color="primary" fill="clear" routerLink="/contacts">
                                <ion-icon name="people"></ion-icon> 2 Customers</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear" routerLink="/contacts">
                                <ion-icon name="person"></ion-icon> 1 Lead</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear" routerLink="/contacts">
                                <ion-icon name="bulb"></ion-icon> 0 Opportunities</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear" routerLink="/contacts">
                                <ion-icon name="bookmarks"></ion-icon> 1 Subscriber</ion-button>
                        </li>
                    </ul>
                </ion-col>
                <ion-col size="12">
                    <ion-button color="light" fill="solid" shape="round" expand="full" color="danger" class="ion-no-margin" routerLink="/contacts">View All Contacts</ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card mode="md">
        <ion-card-content>
            <ion-row class="ion-align-items-center">
                <ion-col size="4" class="ion-text-center">
                    <div class="card-status">
                        <ion-card-title>4</ion-card-title>
                        <p>Contacts</p>
                    </div>
                </ion-col>
                <ion-col size="8" class="ion-padding-start">
                    <ul>
                        <li>
                            <ion-button color="primary" fill="clear" routerLink="/companies">
                                <ion-icon name="people"></ion-icon> 2 Customers</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear" routerLink="/companies">
                                <ion-icon name="person"></ion-icon> 1 Lead</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear" routerLink="/companies">
                                <ion-icon name="bulb"></ion-icon> 0 Opportunities</ion-button>
                        </li>
                        <li>
                            <ion-button color="primary" fill="clear" routerLink="/companies">
                                <ion-icon name="bookmarks"></ion-icon> 1 Subscriber</ion-button>
                        </li>
                    </ul>
                </ion-col>
                <ion-col size="12">
                    <ion-button color="light" fill="solid" shape="round" expand="full" color="danger" class="ion-no-margin" routerLink="/companies">View All Companies</ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>


</ion-content>